@model Project.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.ID" onsubmit="return jQueryAjaxPost(this)" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Student" class="control-label"></label>
                <input asp-for="ID_Student" class="form-control" />
                <span asp-validation-for="ID_Student" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_Upload" class="control-label"></label>
                @if (Model.Date_Upload.Equals(DateTime.MinValue))
                {
                    ViewBag.Date_Upload = DateTime.Now.ToString("yyyy-MM-dd");
                }
                else
                {
                    ViewBag.Date_Upload = Model.Date_Upload.ToString("yyyy-MM-dd");
                }
                <input type="date" asp-for="Date_Upload" value="@ViewBag.Date_Upload" class="form-control" />
                <span asp-validation-for="Date_Upload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">
                </label><div id="toolbar-container"></div>
                <div id="editor" class="border"></div>
                <input type="hidden" id="Description" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Competition" class="control-label"></label>
                <select class="form-select form-control" id="select-competition" aria-label="Competition selection">
                    <option value="0">Select competition</option>
                    @foreach (Competition item in Model.GetCompetitionList())
                    {
                        <option value="@item.ID">@item.Topic</option>
                    }
                </select>
                @if (Model.ID != 0)
                {
                    <input type="hidden" id="competition" asp-for="ID_Competition" class="form-control" value="@Model.ID_Competition" />
                }
                else
                {
                    <input type="hidden" id="competition" asp-for="ID_Competition" class="form-control" value="0" />
                }
                <span asp-validation-for="ID_Competition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Exhibition" class="control-label"></label>
                <input asp-for="ID_Exhibition" class="form-control" />
                <span asp-validation-for="ID_Exhibition" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#select-competition').on('change', function () {
        $('#competition').val($('#select-competition').val());
    });
    $('#select-competition').val($('#competition').val());
    DecoupledEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            const toolbarContainer = document.querySelector('#toolbar-container');
            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
        })
        .catch(error => {
            console.error(error);
        });
    if ($("#Description").val() != null) {
        $("#editor").html($("#Description").val());
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
