@model IEnumerable<Student>
@{
    ViewBag.ID = 0;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date_Of_Birth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)/Username
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)/Username
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_Class_Room)
                    </th>
                    <th>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit", "Student", null, Context.Request.Scheme)', 'New Student')" class="btn btn-success text-white"><i class="fas fa-plus"></i>&ensp;New Student</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">
                        @{
                            ViewBag.ID++;
                        }
                        @ViewBag.ID
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Date_Of_Birth)
                    </td>
                    <td>
                        @{
                            ViewBag.Gender = item.Gender ? "Male" : "Female";
                        }
                        @ViewBag.Gender
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td class="text-center">
                        @Tools.GetClassroomName(item.ID_Class_Room)
                    </td>
                    <td>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit", "Student", new { item.ID }, Context.Request.Scheme)', 'Update Student')" class="btn btn-info"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.ID" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>