@model Project.Models.Student

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.ID" onsubmit="return jQueryAjaxPost(this)" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" value="@Model.ID"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_Of_Birth" class="control-label"></label>
                @if (Model.Date_Of_Birth.Equals(DateTime.MinValue))
                {
                    ViewBag.Date_Of_Birth = DateTime.Now.ToString("yyyy-MM-dd");
                }
                else
                {
                    ViewBag.Date_Of_Birth = Model.Date_Of_Birth.ToString("yyyy-MM-dd");
                }
                <input type="date" asp-for="Date_Of_Birth" value="@ViewBag.Date_Of_Birth" min="@DateTime.Now.AddYears(-42)" max="@DateTime.Now.AddYears(-18)" class="form-control" />
                <span asp-validation-for="Date_Of_Birth" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gender" /> Male
                </label>
            </div>
            <div class="form-group d-none" id="password">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Class_Room" class="control-label"></label>
                <select class="form-select form-control" id="select-classroom" aria-label="Classroom selection">
                    <option value="0" selected>Select classroom</option>
                    @foreach (Classroom classroom in Tools.GetClassRoomList())
                    {
                        <option value="@classroom.ID">@classroom.Name</option>
                    }
                </select>
                @if (Model.ID_Class_Room != 0)
                {
                    <input type="hidden" id="classroom" asp-for="ID_Class_Room" class="form-control" value="@Model.ID_Class_Room" />
                }
                else
                {
                    <input type="hidden" id="classroom" asp-for="ID_Class_Room" class="form-control" value="0" />
                }
                <span asp-validation-for="ID_Class_Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#select-classroom').on('change', function () {
        $('#classroom').val($('#select-classroom').val());
    });
    $('#select-classroom').val($('#classroom').val());
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}